* {
    margin: 0px;
    text-decoration: none;
    color: white;
    font-family: Helvetica;
}

body {
    background-color: #353EE5;
}

.SetaDeRetorno {
    position: fixed;
    bottom: 30px;
    font-size: 80px;
    right: 3%;
    z-index: 100;
    bottom: 20px;
    right: 60px; 
    transform: translateY(0); 
    transition: transform 1s ease; 
}
.SetaDeRetorno:hover  {
    transform: translateY(-50px)
}
/* Estilo do menu */
.nav-flex{
    font-size: larger;
    /* padding: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between; */
}
/* .item-flex {
    display: flex;
    gap: 120px;
}  */
/*  Estilo das sections */
.DarkBlue{
    height: 480px;
}
.lightBlue {
    background-color: #235891;
    height: 480px;
}
.Well { 
    font-size: 140pt;
    line-height: 80%;
    /* margin-right: 110px; */
}

.Water { 
    font-size: 140pt;
    line-height: 80%;
    /* margin-bottom: 40px; */
    /* margin-left: 90px; */
}
.btn-cadastrar{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 30px;
}
.btn-cadastrar:hover{
    scale: 1.1;
}
/* estilo da seção planos */
.Planos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Planos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Tabela-Preco:hover {
    border: 2px solid white;
}
.list-unstyled li {
    border-bottom: solid 1px;
    margin-bottom: 10px;
}
i:hover {
    scale: 1.2;
    cursor: pointer;
}
